HELP.md
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static/css1/ImagesForItems/*.jpeg
src/main/resources/static/css1/ImagesForItems/*.jpg
src/main/resources/static/css1/ImagesForPeople/*.jpg
src/main/resources/static/css1/ImagesForPeople/*.jpeg
target/classes/static/css1/ImagesForItems/*.jpeg
target/classes/static/css1/ImagesForItems/*.jpg
target/classes/static/css1/ImagesForPeople/*.jpg
target/classes/static/css1/ImagesForPeople/*.jpeg
info.log
fatal.log
error.log
warn.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
